* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: gray;
}
header {
  height: 120px;
  width: calc (100% - 40px);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.button {
  padding: 8px;
  width: calc(100% - 16px);
  border: none;
  background: linear-gradient(-45deg, #5a5a5a, #000);
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.button:hover {
  background: linear-gradient(-45deg, #000, #5a5a5a);
}
main{
    display: flex;;
    height: calc(100vh - 120px);
    flex-direction: row;
}
.menu {
    gap: 8px;
    height: 100%;
    width: 200px;
    background-color: #6c6c6c;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 0 4px;
}
